<md-dialog aria-label="Story">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Story...</h2>
        <md-button ng-click="deleteAStory()" style="color:#9b9b9b; right: 20px; position: absolute;">Delete</md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <img class="file-upload-img" ng-src="{{currentStory.imageUrl}}">
        <div class="item-write-comment" style="border-top: none;">
          <textarea ng-model="currentStory.description" class="write-comment" rows="1" placeholder="Write a description..."></textarea>
        </div>
        <div class="item-write-comment">
          <img src="images/location.svg"/><textarea ng-model="currentStory.location" class="write-comment" rows="1" placeholder="Where were you?" style="width: 90%; padding-left: 10px;"></textarea>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row" style="padding: 0px 25px;">
      <md-button ng-click="cancel()" style="color:#9b9b9b;">Cancel</md-button>
      <md-button ng-click="updateAStory()">Save</md-button>
    </md-dialog-actions>
  </form>
</md-dialog>