<div class="container login-container">
    <div class="login-hero"></div>
    <div class="navbar navbar-default" role="navigation">
        <div class="container header-container ">
            <div class="navbar-header">
                <a class="navbar-brand" href="/"><img src="images/pilu-logo-black.svg"/></a>
            </div>
        </div>
    </div>
    <div class="login-box">
        <h1 class="jumbotron-title">Oh hey there! 🤗</h1>
        <p class="login-blurb" >Let’s create and share some cool-ass stories with <strong>Pilu</strong>...</p>
        <div class="login-reg-buttons">
            <button ng-click="go('/feed')" class="load-more-button">Sign Up</button>
            <button ng-click="go('/feed')" class="load-more-button">Log In</button>
        </div>
        <p class="login-blurb" style="position: absolute; bottom: 0px;">Need some help? Here is our <strong><a ng-href="/faqs">FAQ</a></strong></p>
    </div>
</div>